<!-- Bootstrap -->
<link href="~/Content/bootstrap/css/bootstrap.min2.css" rel="stylesheet" />
<link href="~/Content/bootstrap/MyCssCodes/Login.css" rel="stylesheet" />
<!-- JavaScript -->
<script src="/Scripts/jquery/jquery.min.js"></script>
<script src="/Scripts/js/bootstrap.bundle.min.js"></script>

<!---- Image from Instagram ---->
<div class="col-lg-6">
    <img src="~/Content/images/Screen-Shot-2018-09-03-at-11.05.04-PM-e1536030535339.png" id="img01" />
</div>