<!-- Bootstrap -->
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<!-- JavaScript -->
<script src="/Scripts/jquery/jquery.min.js"></script>
<script src="/Scripts/js/bootstrap.bundle.min.js"></script>

<!---- Image from Instagram ---->
<div class="col-lg-6">
    <img src="~/Content/images/Screen-Shot-2018-09-03-at-11.05.04-PM-e1536030535339.png" id="img01" />
</div>

<style>
    #img01 {
        margin-left: 150px;
    }
    .validation-summary-errors {
        color: white;
        background-color: red;
        border-radius: 30px
    }
</style>