@using Entities
@model List<Story>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
        <div class="row">
            <div class="col-md-12">

                @using (Html.BeginForm("Anasayfa", "Anasayfa", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    <input type="file" name="file2" id="file2" class="form-control" />
                    <input type="button" id="btnSendFile2" class="btn btn-success" value="Send File" />
                }
                <script>

                    $("#btnSendFile2").click(function () {
                        var formdata = new FormData($("form").get(1));

                        $.ajax({
                            method: "POST",
                            url: '@Url.Action("FileProfilPicture", "Anasayfa")',
                            data: formdata,
                            processData: false,
                            contentType: false
                        }).done(function (result) {

                            console.log(result);

                            if (result.hasError == false) {
                                alert(result.message);
                            }
                            else {
                                alert("Resim null geldi..!");
                            }
                        });
                    })

                </script>
                </div>
        </div>
</body>
</html>
